<a href='@Url.Action("Index","Draw")' class="btn button"> Draws</a>
<a href='@Url.Action("Index","Character")' class="btn button"> Characters Record</a>
<a href='@Url.Action("Index","Tournament")' class="btn button"> Tournaments</a>
<a href='@Url.Action("Index","Match")' class="btn button"> + Add Match</a>
<br />